# Ignore Mac system files
.DS_Store
**/.DS_Store

# Ignore Python environments
venv/
venv
.env

# Ignore dbt logs and target folders (these get massive!)
logs/
target/
dbt_packages/.DS_Store
.DS_Store

# Airflow Virtual Environments & Secrets
orchestration/include/TMDB-ELT/tmdb_env/
orchestration/include/TMDB-ELT/dbt_env/
orchestration/include/TMDB-ELT/.env