# Processing & Memory
pyspark==3.5.1
pandas==2.1.4

# Cloud & API
boto3==1.34.144
kaggle==1.6.14

# Transformation & Modeling
dbt-databricks==1.8.0

# Environment & Config
python-dotenv==1.0.1

# Testing & Formatting
pytest==8.2.0
black==24.4.2
